html {
    --font: 'Varela Round', sans-serif;
    --border: 2px solid black;
    font-family: var(--font);
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    /* display: flex;
    flex-direction: column; */

}

html, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.game-container {
    width: 50%;
   
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: stretch;

}



h1 {
    text-align: center;
    font-size: 100px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1;
}

.row div {
    font-size: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media (max-width: 660px) {
    .game-container {
        width: 300px;
        height: 300px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 35px;
    }

    .row div {
        font-size: 70px;
    }
}

.top-left {
    border-right: var(--border);
    border-bottom: var(--border);
}

.top-middle {
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
}

.top-right {
    border-left: var(--border);
    border-bottom: var(--border);
}

.middle-left {
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
}

.middle-middle {
    border: var(--border);
}

.middle-right {
    border-top: var(--border);
    border-left: var(--border);
    border-bottom: var(--border);
}

.bottom-left {
    border-right: var(--border);
    border-top: var(--border);
}

.bottom-middle {
    border-left: var(--border);
    border-right: var(--border);
    border-top: var(--border);
}

.bottom-right {
    border-left: var(--border);
    border-top: var(--border);
}

.play-again {
    margin-top: 15px;
    visibility: hidden;
    font-size: 30px;
    border-radius: 5px;
}

.visible {
    visibility:visible !important;
}

.active {
    display: flex !important;
}